<h1>Products</h1>

<div>
  <%= link_to "New product", new_product_path if authenticated? %>
</div>

<br><br><br><br><br>

<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product %>
    </div>
  <% end %>
</div>

<br><br><br><br><br>

<div>
  <%= link_to "Login as admin", new_session_path unless authenticated? %>
</div>